<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <h1 class ="mt-5 text-center" th:text="#{apartment_heading}">Apartment</h1>
    <hr class = "w-75 mx-auto">

    <div class = "mx-auto w-75 ">
        <h4 class = "text-center" th:text="#{apartment_gallery}">Gallery</h4>
        <div class = "d-grid grid mb-5">
            <img class = "grid-item" src="/images/apartment/img-1.jpg" alt="">
            <img class = "grid-item" src="/images/apartment/img-2.jpg" alt="">
            <img class = "grid-item" src="/images/apartment/img-3.jpg" alt="">
            <img class = "grid-item" src="/images/apartment/img-4.jpg" alt="">
            <img class = "grid-item" src="/images/apartment/img-5.jpg" alt="">
            <img class = "grid-item" src="/images/apartment/img-6.jpg" alt="">
            <img class = "grid-item" src="/images/apartment/img-7.jpg" alt="">
            <img class = "grid-item" src="/images/apartment/img-8.jpg" alt="">
            <img class = "grid-item" src="/images/apartment/img-9.jpg" alt="">
            <img class = "grid-item" src="/images/apartment/img-10.jpg" alt="">
            <img class = "grid-item" src="/images/apartment/img-11.jpg" alt="">
            <img class = "grid-item" src="/images/apartment/img-12.jpg" alt="">
            <img class = "grid-item" src="/images/apartment/img-13.jpg" alt="">
            <img class = "grid-item" src="/images/apartment/img-14.jpg" alt="">
            <img class = "grid-item" src="/images/apartment/img-15.jpg" alt="">
            <img class = "grid-item" src="/images/apartment/img-16.jpg" alt="">
            <img class = "grid-item" src="/images/apartment/img-17.jpg" alt="">
            <img class = "grid-item" src="/images/apartment/img-18.jpg" alt="">
            <img class = "grid-item" src="/images/apartment/img-19.jpg" alt="">
            <img class = "grid-item" src="/images/apartment/img-20.jpg" alt="">
            <img class = "grid-item" src="/images/apartment/img-21.jpg" alt="">
        </div>

        <h4 class = "text-center" th:text="#{apartment_description}">Description</h4>
        <hr class = "w-50 mx-auto">
        <p>
            <b th:text="#{apartment_bed}">Bed: </b><small class = "h6" th:text="#{apartment_bed_description}"> 1 double and a sofa bed.</small>
            <br>
            <b th:text="#{apartment_capacity}">Capacity: </b><small class = "h6" th:text="#{apartment_capacity_description}"> up to 4 adults.</small>
            <br>
            <b th:text="#{apartment_rooms}">Rooms: </b><small class ="h6" th:text="#{apartment_rooms_description}"> bedroom, living room, a kitchenette and storage.</small>
            <br>
            <b th:text="#{apartment_location}">Location: </b><small class = "h6" th:text="#{apartment_location_description}"> third or fourth floor.</small>
            <br>
            <b th:text="#{apartment_dimensions}">Dimensions: </b> <small class = "h6" th:text="#{apartment_dimensions_description}">approximately  80 m².</small>
            <br>
        </p>
        <p th:text="#{apartment_p1}">The Oak Hotel apartments consist of two separate spacious rooms: bedroom with a double bed, a large wardrobe, and a desk/workspace, as well as, a big living room with a sofa, coffee table, fully equipped kitchenette and a dining table for 4. They are the perfect option for those who travel with family or a group of friends.Oak Residence Hotel & Relax Double room combines spaciousness, comfort, and style.
        </p>
        <p th:text="#{apartment_p2}">Each apartment has a big balcony connecting the bedroom with the living room.</p>
        <p th:text="#{apartment_p3}">
            For your ultimate comfort, two of the apartments are with a fireplace.
        </p>
    </div>
        <h4 class = "text-center" th:text="#{apartment_rates_for_two}">Rates for two</h4>
        <hr class = "w-50 mx-auto">
        <div class = "d-flex justify-content-between my-5 rate-holder">
                <div class = "d-flex">
                    <svg id= "light-yellow" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 9H21M7 3V5M17 3V5M6 12H8M11 12H13M16 12H18M6 15H8M11 15H13M16 15H18M6 18H8M11 18H13M16 18H18M6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z" stroke="#000000" stroke-width="2" stroke-linecap="round"></path> </g></svg>
                    <div class="d-flex flex-column align-items-center m-auto">
                        <h2 class = "m-auto mb-0 ms-3 text-center" th:text="#{apartment_rates_2_spring}"> April 1st - June 30th 2024</h2>
                        <p class = "align-self-center m-auto" th:text="#{apartment_rates_2_spring_price}">
                            Monday-Sunday -> BGN 165
                        </p>
                    </div>
                </div>
                <div class = "d-flex">
                    <svg id = "light-blue" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 9H21M7 3V5M17 3V5M6 12H8M11 12H13M16 12H18M6 15H8M11 15H13M16 15H18M6 18H8M11 18H13M16 18H18M6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z" stroke="#000000" stroke-width="2" stroke-linecap="round"></path> </g></svg>
                    <div class="d-flex flex-column align-content-center m-auto">
                        <h2 class = "m-auto ms-3 mb-0 text-center" th:text="#{apartment_rates_2_summer}">July 1st - September 30th 2024</h2>
                        <p class="m-auto align-self-center" th:text="#{apartment_rates_2_summer_price}">
                            Monday-Sunday -> BGN 180
                        </p>
                    </div>
                </div>
        </div>

        <h4 class = "text-center" th:text="#{apartment_rates_for_three}">Rates for three</h4>
        <hr class = "w-50 mx-auto">
    <div class = "d-flex justify-content-between my-5 rate-holder">
        <div class = "d-flex">
            <svg id= "light-yellow" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 9H21M7 3V5M17 3V5M6 12H8M11 12H13M16 12H18M6 15H8M11 15H13M16 15H18M6 18H8M11 18H13M16 18H18M6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z" stroke="#000000" stroke-width="2" stroke-linecap="round"></path> </g></svg>
            <div class="d-flex flex-column align-items-center m-auto">
                <h2 class = "m-auto mb-0 ms-3 text-center" th:text="#{apartment_rates_2_spring}"> April 1st - June 30th 2024</h2>
                <p class = "align-self-center m-auto" th:text="#{apartment_rates_3_spring_price}">
                    Monday-Sunday -> BGN 180
                </p>
            </div>
        </div>
        <div class = "d-flex">
            <svg id = "light-blue" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 9H21M7 3V5M17 3V5M6 12H8M11 12H13M16 12H18M6 15H8M11 15H13M16 15H18M6 18H8M11 18H13M16 18H18M6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z" stroke="#000000" stroke-width="2" stroke-linecap="round"></path> </g></svg>
            <div class="d-flex flex-column align-content-center m-auto">
                <h2 class = "m-auto ms-3 mb-0 text-center" th:text="#{apartment_rates_2_summer}">July 1st - September 30th 2024</h2>
                <p class="m-auto align-self-center" th:text="#{apartment_rates_3_summer_price}">
                    Monday-Sunday -> BGN 200
                </p>
            </div>
        </div>
    </div>
        <h4 class = "text-center" th:text="#{apartment_rates_for_four}">Rates for four</h4>
        <hr class = "w-50 mx-auto">
    <div class = "d-flex justify-content-between my-5 rate-holder">
        <div class = "d-flex">
            <svg id= "light-yellow" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 9H21M7 3V5M17 3V5M6 12H8M11 12H13M16 12H18M6 15H8M11 15H13M16 15H18M6 18H8M11 18H13M16 18H18M6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z" stroke="#000000" stroke-width="2" stroke-linecap="round"></path> </g></svg>
            <div class="d-flex flex-column align-items-center m-auto">
                <h2 class = "m-auto mb-0 ms-3 text-center" th:text="#{apartment_rates_2_spring}"> April 1st - June 30th 2024</h2>
                <p class = "align-self-center m-auto" th:text="#{apartment_rates_4_spring_price}">
                    Monday-Sunday -> BGN 195
                </p>
            </div>
        </div>
        <div class = "d-flex">
            <svg id = "light-blue" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 9H21M7 3V5M17 3V5M6 12H8M11 12H13M16 12H18M6 15H8M11 15H13M16 15H18M6 18H8M11 18H13M16 18H18M6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z" stroke="#000000" stroke-width="2" stroke-linecap="round"></path> </g></svg>
            <div class="d-flex flex-column align-content-center m-auto">
                <h2 class = "m-auto ms-3 mb-0 text-center" th:text="#{apartment_rates_2_summer}">July 1st - September 30th 2024</h2>
                <p class="m-auto align-self-center" th:text="#{apartment_rates_4_summer_price}">
                    Monday-Sunday -> BGN 220
                </p>
            </div>
        </div>
    </div>
    <div class = "mx-auto w-75 d-flex flex-column justify-content-center">
       <div th:replace="~{fragments/commons::div.services}"></div>
        <div th:replace="~{fragments/commons::div.additional-info}"></div>
        <a href="/reservation" class = "index-book-btn m-auto mb-5" th:text="#{info_make_reservation}">Make a reservation</a>
    </div>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
