<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <h1 class="text-center mt-2"><span class="" th:text="#{register_heading}">Register</span></h1>
    <div class = "d-flex justify-content-center">
        <p class = "text-center mb-5 h5"th:text="#{register_acc}">Already have an account?</p>
        <a class ="h5 ms-2 text-primary" th:href="@{/login}" th:text="#{register_login}">Login here</a>
    </div>
    <hr class="w-75 m-auto"/>

    <div class="container">
        <h2 class="text-center my-3" th:text="#{register_form_heading}">Register User</h2>

        <p th:if="${usernameTaken}" class="errors alert alert-danger my-3 w-25 text-center m-auto" th:text="#{register_email_taken}">
            Email is already taken.
        </p>

        <form th:method="post"
              th:action="@{/register}"
              th:object="${registerDTO}"
              class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label th:for="firstName" class="font-weight-bold" th:text="#{register_first_name}">First Name</label>
                    <input  th:field="*{firstName}"
                            type="text"
                            class="form-control"
                            placeholder="First name"/>
                    <small class = "text-danger" th:errors = "*{firstName}"></small>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label th:for="lastName" class="font-weight-bold" th:text="#{register_last_name}">Last Name</label>
                    <input
                            th:field="*{lastName}"
                            type="text"
                            class="form-control"
                            placeholder="Last name"/>
                    <small class = "text-danger" th:errors = "*{lastName}"></small>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label th:for="email" class="font-weight-bold" th:text="#{register_email}">Email</label>
                    <input
                            th:field="*{email}"
                            type="email"
                            class="form-control"
                            placeholder="Email"/>
                    <small class = "text-danger" th:errors = "*{email}"></small>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label th:for="password" class="font-weight-bold" th:text="#{register_password}">Password</label>
                    <input
                            th:field="*{password}"
                            type="password"
                            class="form-control"
                            placeholder="Password"/>
                    <small class = "text-danger" th:errors = "*{password}"></small>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg mt-5" th:value="#{register_heading}"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
