<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <h1 class ="mt-5 text-center" th:text="#{triple_room_heading}">Triple room</h1>
    <hr class = "w-75 mx-auto">

    <div class = "mx-auto w-75">
        <h4 class = "text-center" th:text="#{triple_room_gallery}">Gallery</h4>
        <div class = "d-grid grid mb-5">
            <img class = "grid-item" src="/images/triple-room-gallery/img-1.jpg" alt="">
            <img class = "grid-item" src="/images/triple-room-gallery/img-2.jpg" alt="">
            <img class = "grid-item" src="/images/triple-room-gallery/img-3.jpg" alt="">
            <img class = "grid-item" src="/images/triple-room-gallery/img-4.jpg" alt="">
            <img class = "grid-item" src="/images/triple-room-gallery/img-5.jpg" alt="">
            <img class = "grid-item" src="/images/triple-room-gallery/img-6.jpg" alt="">
            <img class = "grid-item" src="/images/triple-room-gallery/img-7.jpg" alt="">
            <img class = "grid-item" src="/images/triple-room-gallery/img-8.jpg" alt="">
            <img class = "grid-item" src="/images/triple-room-gallery/img-9.jpg" alt="">
        </div>

        <h4 class = "text-center" th:text="#{triple_room_desc}">Description</h4>
        <hr class = "w-50 mx-auto">
        <p>
            <b th:text="#{triple_room_bed}">Bed: </b><small class = "h6" th:text="#{triple_room_bed_desc}">1 double and a singular bed or 3 singular beds.</small>
            <br>
            <b th:text="#{triple_room_capacity}">Capacity: </b><small class = "h6" th:text="#{triple_room_capacity_desc}">up to 3 adults.</small>
            <br>
            <b th:text="#{triple_room_location}">Location: </b><small class = "h6" th:text="#{triple_room_location_desc}"> second or third floor.</small>
            <br>
            <b th:text="#{triple_room_dimensions}">Dimensions: </b><small class = "h6" th:text="#{triple_room_dimensions_desc}"> approximately 60 m².</small>
            <br>
        </p>
        <p th:text="#{triple_room_p1}">
            The Oak Hotel triple rooms style, spaciousness and comfort.
        </p>
        <p th:text="#{triple_room_p2}">
            The natural tones, combining with the soothing green provide a sense of coziness and tranquility. Each room has a balcony, revealing an incredube view to the Rhodopa mountains.
        </p>
        <p th:text="#{triple_room_p3}">
            For our ultimate comfort, you choose if you want a double room with a single bed, or three single beds. We provide an option of adding a baby cot(upon request).
        </p>
    </div>
    <h4 class = "text-center mt-5" th:text="#{apartment_rates_for_two}">Rates for two</h4>
    <hr class = "w-50 mx-auto">
    <div class = "d-flex justify-content-between my-5 rate-holder">
        <div class = "d-flex">
            <svg id= "light-yellow" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 9H21M7 3V5M17 3V5M6 12H8M11 12H13M16 12H18M6 15H8M11 15H13M16 15H18M6 18H8M11 18H13M16 18H18M6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z" stroke="#000000" stroke-width="2" stroke-linecap="round"></path> </g></svg>
            <div class="d-flex flex-column align-items-center m-auto">
                <h2 class = "m-auto mb-0 ms-3 text-center" th:text="#{apartment_rates_2_spring}"> April 1st - June 30th 2024</h2>
                <p class = "align-self-center m-auto" th:text="#{triple_room_rates_2_spring}">
                    Monday-Sunday -> BGN 155
                </p>
            </div>
        </div>
        <div class = "d-flex">
            <svg id = "light-blue" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 9H21M7 3V5M17 3V5M6 12H8M11 12H13M16 12H18M6 15H8M11 15H13M16 15H18M6 18H8M11 18H13M16 18H18M6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z" stroke="#000000" stroke-width="2" stroke-linecap="round"></path> </g></svg>
            <div class="d-flex flex-column align-content-center m-auto">
                <h2 class = "m-auto ms-3 mb-0 text-center" th:text="#{apartment_rates_2_summer}">July 1st - September 30th 2024</h2>
                <p class="m-auto align-self-center" th:text="#{triple_room_rates_2_summer}">
                    Monday-Sunday -> BGN 170
                </p>
            </div>
        </div>
    </div>

    <h4 class = "text-center" th:text="#{apartment_rates_for_three}">Rates for three</h4>
    <hr class = "w-50 mx-auto">
    <div class = "d-flex justify-content-between my-5 rate-holder">
        <div class = "d-flex">
            <svg id= "light-yellow" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 9H21M7 3V5M17 3V5M6 12H8M11 12H13M16 12H18M6 15H8M11 15H13M16 15H18M6 18H8M11 18H13M16 18H18M6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z" stroke="#000000" stroke-width="2" stroke-linecap="round"></path> </g></svg>
            <div class="d-flex flex-column align-items-center m-auto">
                <h2 class = "m-auto mb-0 ms-3 text-center" th:text="#{apartment_rates_2_spring}"> April 1st - June 30th 2024</h2>
                <p class = "align-self-center m-auto" th:text="#{triple_room_rates_3_spring}">
                    Monday-Sunday -> BGN 170
                </p>
            </div>
        </div>
        <div class = "d-flex">
            <svg id = "light-blue" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 9H21M7 3V5M17 3V5M6 12H8M11 12H13M16 12H18M6 15H8M11 15H13M16 15H18M6 18H8M11 18H13M16 18H18M6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z" stroke="#000000" stroke-width="2" stroke-linecap="round"></path> </g></svg>
            <div class="d-flex flex-column align-content-center m-auto">
                <h2 class = "m-auto ms-3 mb-0 text-center" th:text="#{apartment_rates_2_summer}">July 1st - September 30th 2024</h2>
                <p class="m-auto align-self-center" th:text="#{triple_room_rates_3_summer}">
                    Monday-Sunday -> BGN 190
                </p>
            </div>
        </div>
    </div>
    </div>
    <div class = "mx-auto w-75 d-flex flex-column justify-content-center">
        <div th:replace="~{fragments/commons::div.services}"></div>
        <div th:replace="~{fragments/commons::div.additional-info}"></div>
        <a href="/reservation" class = "index-book-btn m-auto mb-5" th:text="#{triple_room_book}">Make a reservation</a>
    </div>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
